<style>
  .font0 {
    font-size: 60px;
  }

  .font1 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 60px;
  }

  .font2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
  }

</style>

<div class="font0">Default</div>
<div class="font1">Indie Flower</div>
<div class="font2">Dancing Script</div>


<i class="fa fa-free-code-camp" aria-hidden="true"></i>
