<style type="text/scss">

@media (min-width: 1000px) {
  a {
    color: red;
  }
  b, c, d {
    color: red;
  }
}

@media (max-width: 1000px) {
  a {
    color: blue;
  }
  b {
    color: blue;
  }
}
</style>


<a>should be red on >1000px and blue <1000px</a><br/>
<Test></Test>
