<table>
  <tr>
    <td width="50%" valign="top">
      <Content>
        == Header2 ==

        [p]
        Paragraph with list
        * Item1
        ** Subitem1
        ** Subitem2
        * Item2
        [/p]

      </Content>
    </td>
    <td width="50%" valign="top">
      <Content class="a">
        === Header3 ===

        [p]
        [link](mailto:onet.pl)(some link).
        [/p]
      </Content>
    </td>
  </tr>
</table>
