<script>
console.log(`${2 + 2}`);
</script>

Buttons:<br/>
<MyButton #btn1 label="button"></MyButton><br/>
<MyButton #btn2 label="button"></MyButton><br/>
<MyButton #btn3 label="button"></MyButton><br/>
<br/>
<Cmp1></Cmp1>
<br/>
<MyList></MyList>


<script>

document.write("<a ")

</script>
