sub1 component

<input type="checkbox" id="{{ INSTANCE_ID }}-checkbox1" />

<label for="{{ INSTANCE_ID }}-checkbox1">Label1</label>
<label for="{{ INSTANCE_ID }}-checkbox1">Label2</label>

{{ showTest }}

<ul>
  <li><a>LINK</a></li>
</ul>
