<table>
  <tr>
    <td valign="top">
      &lt;img src="~static/a.jpg" /&gt;<br/>
      <img src="~static/a.jpg" />
      <br/>

      &lt;img src="~static/a.jpg" width="100" /&gt;<br/>
      <img src="~static/a.jpg" width="100" />
      <br/>

      &lt;img src="~static/a.jpg(200x)" /&gt;<br/>
      <img src="~static/a.jpg(200x)" />
      <img src="~static/a.jpg(200x)" />
      <br/>

      &lt;img src="~static/a.jpg(200x,png)" /&gt;<br/>
      <img src="~static/a.jpg(200x,png)" />
      <img src="~static/a.jpg(200x,png)" />
      <img src="~static/a.jpg(200x,png)" />
      <br/>

      &lt;img src="~static/a.svg" /&gt;<br/>
      <img src="~static/a.svg" />
      <br/>

      CSS:<br/>
      <div class="img-style"></div>
    </td>
    <td valign="top">
      &lt;LazyImage src="~static/a.jpg" /&gt;<br/>
      <LazyImage src="~static/a.jpg" />
      <br/>
      &lt;LazyImage src="~static/a.jpg" /&gt;<br/>
      <LazyImage src="~static/a.jpg" />
    </td>
  </tr>
</table>
