a {
  color: red;
}


a {
  color: blue;
  margin-top: 5px;
}
:host {
  :deep b, div {
    font-style: italic;
  }
}

cmp2 {
  display: block;
  margin-left: 10px;

  &:after {
    content: "▼";
  }
}

/*
Some comment
 */
